<div class= "container_sessions">

  <div class="top_message_right1">

    <div class="top_message_right_upper1">

      <div class="registration_form">
        <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
          <%= f.label :email, "Emailアドレス" %>
          <%= f.email_field :email,placeholder:"xxx@xxx.com" %>
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, placeholder:"6文字以上" %>
          <br/>
          <br/>
          <%= f.submit "ログイン" %>
        <% end %>
      </div>
    </div>

    <div class="signup">
      <p>アカウントをお持ちでないですか？</p>
      <%= link_to"登録する", new_user_path %>
    </div>

  </div>

</div>
