
  <div class="post_index">
    <p id="notice"><%= notice %></p>
    <h1>投稿一覧</h1>
  </div>

  <% @feeds.each do |feed| %>
    <div class="post">
      <p><%= image_tag(feed.image.thumb.url) if feed.image.present? %></p>
      <p><%= feed.message %></p>
      <p><%= feed.user.name %>が投稿 </p>
      <p><%= feed.updated_at %>に投稿</p>
      <td><%= link_to '詳細', feed, class:"btn btn-warning" %></td>
      <% if current_user.id == feed.user_id %>
        <td><%= link_to '編集', edit_feed_path(feed), class:"btn btn-info" %></td>
        <td><%= link_to '削除', feed, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" %></td>
      <% end %>
      <br><br>
    </div>
  <% end %>
