<p id="notice"><%= notice %></p>

<div class="feeds_container">
  <p id="notice"><%= notice %></p>
    <strong>写真:</strong>
  <p>
    <%= image_tag @feed.image.thumb.url if @feed.image.present? %>
  </p>
  <p><%= @feed.message %> </p>
  <%= link_to '編集する', edit_feed_path(@feed) %> |
  <%= link_to '投稿一覧に戻る', feeds_path %>

</div>
