<h1>お気に入り一覧 </h1>
<p><%= link_to "投稿一覧に戻る", feeds_path %></p>
  <% @favorites.each do |favorite| %>
      <div class ="favorite_index">
        <table>
          <tr>
            <td>
            <%= link_to feed_path(favorite) do%>
              <%= image_tag(favorite.image.url) if favorite.image.present? %>
            <% end %>
            </td>
          <br>
          <tr>
            <td>
              <p><%= favorite.message %></p>
            </td>
          </tr>
          <br>
          <tr>
            <td>
              <p><%= favorite.user.name %>が<%= favorite.updated_at %>に投稿</p>
            </td>
          </tr>
        </table>
      </div>
  <% end %>
